- blog.articles.group_by.each do |article|
  %article
    .row
      .small-12.large-10.large-centered.columns
        %h1
          = link_to article.title, article
        %p
          This is a line. It is nothing more, nothing less. Let's see if it works. 
        %img(src="images/products/currrva_logo.png") 
