- blog.articles.group_by.each do |article|
  %article
    .row
      .small-12.large-10.large-centered.columns
        %h1
          = link_to article.title, article
.aside
  .block.categories
    %h3.blog-header Categories
    %ul
      %li
        %a{:href => "/category/article/"} Articles
      %li
        %a{:href => "/category/news/"} News
      %li 
        %a{:href => "/category/resources"} Resources
      %li 
        %a{:href => "/category/tutorial/"} Tutorial
